name: "PR to Main"
on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - dev

jobs:
  validate_pr:
    permissions:
      pull-requests: write
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/semantic_pull_request.yml@v1

  # Version the package
  version:
    uses: ./.github/workflows/pr_workflow.yaml
    with:
      use_local_version: true
      pre_release: ${{ github.ref_name == 'dev' }}

  # Validate the Dart code
  validate_dart:
    uses: ./.github/actions/validate-dart.yaml
