name: "Release Main"
on:
  push:
    branches:
      - main
jobs:
  # Validate the Dart code
  validate_dart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate Dart code
        uses: ./.github/actions/validate-dart

  version:
    uses: ./.github/workflows/publish_workflow.yaml
    secrets:
      app_id: ${{ secrets.BUMPER_APP_ID }}
      app_private_key: ${{ secrets.BUMPER_APP_PRIVATE_KEY }}
    with:
      git_push_branch: main
      git_push: true
      use_local_version: true
