name: Validate Dart Code
on:
  workflow_call:

jobs:
  validate_dart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
      - name: Install dependencies
        run: flutter pub get
      - name: Run build runner
        run: flutter pub run build_runner build --delete-conflicting-outputs
      - name: Run linter
        run: flutter analyze
      - name: Run tests
        run: flutter test --coverage
      - name: Report test results
        uses: dorny/test-reporter@v2
        with:
          path: reports/test-results.json
          reporter: flutter-json
